/* 文字フォント */
p {
	font-family: "游明朝";
}


table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    text-align: center;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color:rgb(113, 236, 177);
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td:first-child {
    text-align: left;
}

/* 左右分割 */
#child1 {
    background-color: lightblue;
    width: 25%;
}
#child2 {
    background-color: lightgreen;
}

@media (min-width: 600px) {
    #parent {
        display: flex;
    }
    #child1 {
        flex-grow: 1;
    }
    #child2 {
        flex-grow: 1;
    }
}

/* トグルボタン用 */
#hidden-text {
    display: block; /* 最初は表示 */
}